<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <style>
        [v-cloak] {
            display: none;
        }

        .active {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <!-- 宿主文件 -->
    <div id="app" v-cloak>
        <!-- 绑定动态值v-bind:[属性名]="变量名" 简写为 :[属性名]="变量名" -->
        <h2 :title="titleMsg">
            <!-- 插值文本 -->
            {{title}}
        </h2>
        <!-- v-model输入绑定(可以通过F12控制台app._data.course 取值或者赋值) -->
        <p>
            <!--
                 keydown.enter表示"按下回车"这一事件
                 具体可参考:https://cn.vuejs.org/v2/guide/events.html#按键修饰符
             -->
            <input type="text" v-model="course" v-on:keydown.enter="addCourse">
        </p>
        <!-- v-on:(简写@)事件处理 -->
        <p>
            <button @click="addCourse">new course</button>
        </p>
        <!-- v-if/v-else条件渲染 -->
        <p v-if="courses.length === 0">没有任何课程信息</p>
        <!-- v-for列表渲染 -->
        <!-- 需求:选中course变色 active: xxx表达式, 如果xxx表达式为true, 那么这个item就有active属性类-->
        <!-- <div v-for="c in courses" :key="c" :class="{active: selectedCourse === c}" @click="selectedCourse = c">
            {{ c }}
        </div> -->
        <!-- style('background-color' or backgroundColor) -->
        <div class="course-list" v-else>
            <div v-for="c in courses" :key="c" :style="{backgroundColor: selectedCourse === c ? '#ddd' : 'transparent'}"
                @click="selectedCourse = c">
                {{ c }}
            </div>
        </div>
        <!-- 商品总数 -->
        <p>
            <!-- 表达式 -->
            <!-- <span>课程总数:{{courses.length + '门'}}</span> -->
            <!-- 计算属性 -->
            <!-- <span>课程总数:{{total}}</span> -->
            <!-- 监听器 -->
            <span>课程总数:{{totalCount}}</span>
        </p>
    </div>
    <script src="./script/vue.js"></script>
    <!-- If can access network -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
        // 1. 创建vue实例
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: '购物车',
                    titleMsg: '购物车文本提示信息',
                    courses: ['web全栈', 'web高级'],
                    course: '',
                    selectedCourse: '',
                    totalCount: 0
                }
            },
            methods: {
                addCourse() {
                    // 1. 添加course到数组
                    this.courses.push(this.course);
                    // 2. 清空course
                    this.course = '';
                }
            },
            computed: {
                total() {
                    // 计算属性有缓存性:如果值没有发生变化, 则页面不会重新渲染
                    return this.courses.length + '门';
                }
            },
            // 默认情况下watch初始化时不执行
            // watch: {
            //     courses(newValue, oldValue) {
            //         this.totalCount = newValue.length + '门';
            //     }
            // }, // 带选项的watcher
            watch: {
                courses: {
                    immediate: true, // 立即执行一次
                    // deep: true,
                    handler(newValue, oldValue) {
                        this.totalCount = newValue.length + '门';
                    }
                }
            },
        });
    </script>
</body>

</html>